@font-face {
    font-family: troll;
    src: url("assets/COMIC.TTF");
  }

* {
    box-sizing: border-box;
}
.split {
    width: 50%;
    vertical-align: top;
    padding: 20px;
}
.header {
    padding: 0px;
    text-align: center;
}
.across {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'troll', sans-serif;
    text-shadow: black 2px 2px 2px;
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
}

a {
    color: brown;
}
a:hover {
    font-weight: bold
}
button {
    background-color: rgb(55, 55, 55);
    border: 0px;
    padding: 5px;
    font-family: 'troll', sans-serif;
    color: white;
}
button:hover {
    background-color: rgb(70, 55, 55);
}

.preview {
    max-width: 100%;
}
.tomoji {
    height: 0.75em;
    display: inline;
}
.project {
    width: 50%;
    vertical-align: top;
}