.element {
    position: absolute;
    transform-origin: left;
}
.center {
    transform: translate(-50%, -50%);
}
.click {
    cursor: pointer;
}
.noclick {
    pointer-events: none;
}
body {
    background-color: whitesmoke;
}
p {
    width: 400px;
}
#q-drop {
    color: red;
    font-weight: bold;
}
#selection {
    background-color: red;
    border: 5px yellow solid;
    position: absolute;
    width: 600px;
    height: 400px;
}