@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --text-color: lightgrey;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: var(--text-color);
    border-width: 1px;
    text-align: center;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: var(--text-color);
}

p {
    display: inline;
}

th {
    border: 1px solid var(--text-color);
}

#gamediv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#politics {
    width: 30%
}

#map {
    width: 30%
}

#content {
    width: 35%
}

#eventLog {
    border: solid;
    height: 30%;
    overflow-y: scroll;
}

svg {
    background-color: #212F3C;
}