@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
    border-width: 1px;
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "politics content map";
}

#politics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 3fr 0.3fr 0.3fr 0.3fr 3.5fr;
    gap: 0px 0px;
    grid-template-areas: "mainTitle" "countryName" "leaderPortrait" "leaderName" "leaderParty" "leaderPosition" "leaderSummary";
    grid-area: politics;
}

#mainTitle {
    border: solid;
    grid-area: mainTitle;
}

#countryName {
    border: solid;
    grid-area: countryName;
}

#leaderPortrait {
    border: solid;
    grid-area: leaderPortrait;
}

#leaderName {
    border: solid;
    grid-area: leaderName;
}

#leaderParty {
    border: solid;
    grid-area: leaderParty;
}

#leaderPosition {
    border: solid;
    grid-area: leaderPosition;
}

#leaderSummary {
    border: solid;
    grid-area: leaderSummary;
}

#content {
    border: solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.7fr 0.6fr 2.2fr;
    gap: 0px 0px;
    grid-area: content;
}

#event-title {
    border: solid;
    grid-area: 1 / 1 / 2 / 2;
}

#eventDesc {
    border: solid;
    grid-area: 2 / 1 / 3 / 2;
}

#eventButtons {
    border: solid;
    grid-area: 3 / 1 / 4 / 2;
}

#eventTitle {
    border: solid;
    grid-area: 1 / 1 / 2 / 2;
}

#decisions {
    border: solid;
    grid-area: 4 / 1 / 5 / 2;
}

#map {
    border: solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas: "." "eventLog";
    grid-area: map;
}

#eventLog {
    border: solid;
    grid-area: eventLog;
}

svg {
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
}