html {
    height: 100%;
}
body {
    height: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Segoe UI','Segoe UI Emoji','Segoe UI Symbol','Lato','Liberation Sans','Noto Sans','Helvetica Neue','Helvetica',sans-serif;
}
#topbar {
    width: 445px;
    float: left;
    height: 128px;
    padding-left: 10px;
    padding-right: 30px;
    overflow: auto;
    background-color: #e0e0e0;
    overflow: hidden;
    height: 100%;
}
.focus-editor-basics {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.focus-editor-option {
}
button.focus-editor-basics {
}
button:hover.focus-editor-basics {
}
input:focus.focus-editor-basics {
    outline: 0;
}
textarea:focus.focus-editor-basics {
    outline: 0;
}
.focus-editor-prereq {
    border: 1px solid #8F8F9D;
    background: white;
    display: inline;
    position: static;
    overflow-y: scroll;
}
td {
    vertical-align: middle;
    text-align: center;
    width: 73px;
}

#focus-panel {
    margin-left: 33%;
    position:relative;
    background-image: url("assets/bg/focus top.png"), url("assets/bg/focus bottom.png"), url("assets/bg/repeatbg.png");
    background-position: top, bottom, center;
    background-repeat: repeat-x, repeat-x, repeat;
    background-attachment: fixed;
    height: 100%;
    background-color: green;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}
#focus-panel-focuses {
    position: relative;
}
#line-container {
    position:relative;
}
.focus {
    position: absolute;
    width: 165px;
    height: 128px;
    cursor: pointer;
    transition: all 0.3s;
}
.focus:hover {
    transform: scale(1.1);
}
.half-opacity {
    opacity: 50%;
}
.center {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.line {
    background: #607995;
}
.prerequisite-or {
    background: none;
    border-color: #607995;
    border-top-style: dashed;
    border-width: 2px;
    border-left-style: dashed;
}
.mutually-exclusive {
    background: lightcoral;
}
#focus_prereq_box {
    background: #FFFFFF;
    width: 100%;
    padding: 10px;
}
#add_prereq {
    width: 100%;
}
.focus_prereq_entry {
    border: 2px;
    border-style: solid;
    border-color: white;
}
#modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#focus-gfx-panel {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid #8F8F9D;
    width: 800px;
    height: 80%;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
#focus-gfx-panel-gfx {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
}
.focus-gfx {
    height: 125px;
    overflow: hidden;
    position: relative;
    padding: 4px;
    text-align: center;
}
.focus-gfx-icon {
    position: absolute;
    top: 45px;
    cursor: pointer;
    transition: all 0.1s;
}
.focus-gfx-icon:hover {
    transform: scale(1.1);
}
.monaco-container {
	width: 100%;
    min-height: 128px;
	margin: 0;
	padding: 0;
    text-align: left;
}
#focus_edit_collapse_container {
    background-color: #00000044;
    padding: 5px;
}
.textarea {
    width: 100%;
}
#loading {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 5vw;
    text-shadow: 2px 2px 16px black;
}