img.flag {
    border: 3px solid gold;
    width: 45px;
    height: 30px;
    padding: 2px;
}

input {
    transform: scale(1.5);
    position: relative;
    padding-bottom: 15px;
}

body {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: auto;
}
@media only screen and (min-width: 500px) {
    .column {
        float: left;
        width: 50%;
    }

}
@media only screen and (min-width: 1000px) {
    .column {
        float: left;
        width: 25%;
    }

}
@media only screen and (min-width: 1400px) {
    .column {
        float: left;
        width: 20%;
    }

}
@media only screen and (min-width: 1750px) {
    .column {
        float: left;
        width: 12.5%;
    }

}
.row:after {
    content: "";
    display: table;
    clear: both;
}