@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('hv/tiledbg.png');
    background-repeat: repeat;
    font-family: "Source Sans 3";
}

.sidebar {
    background-color: #0156ad;
    background-image: url('hv/tiledbg blue.png');
    background-repeat: repeat;
    text-align: center;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.setDate {
    color: #6796C8;
    font-family: Courier New, monospace;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.hv-font {
    font-weight: bold;
    color: #0156ad;
    padding: 0;
    line-height: 0px;
}

.hv-font-a {
    color: #6796C8;
}

.hv-box {
    background-color: #0156ad2b;
    box-shadow: 0 0 4px 3px white inset;
    text-decoration: none;
    bottom: 12px;
    position: relative;
}

.hv-box-a {
    text-decoration: none;
}

.no-margin {
    margin: 0;
    border: 0;
    padding: 0;
}

.government-website {
    border: 4px solid #0156ad;
    width: 500px;
}

.government-website-box {
    padding: 10px
}